

ul{
    list-style-type: none;
  }
.buttonContainer{
    display: inline;
    margin: 10px;
}
.btn-dark{
    margin: 15px;
    background-color: #3d3939;
}
.AnkietyKontener{
    
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.75);
}
.NazwaAnkiety{
    color: #285316;
}
.Pytanie{
    color: #1f1a3d;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: 10%;
}
.AnkietyWiki{
    margin-left: 25%;
    margin-right: 25%;

}
.form-select{
    width: 100px;
}
.formOdp{
    width: 50%;
    padding: .375rem .75rem;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.formPyt{
    width: 60%;
    padding: .375rem .75rem;
    color: #091d31;
    background-color: rgb(231, 231, 231);
    background-clip: padding-box;
    border: 1px solid #3a3c3f;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.submitBtn {
	background-color:#343a3d;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	padding:11px 72px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: 40px;
}
.submitBtn:hover{
	background-color:#325223;
}
.submitBtn:active{
	position:relative;
}
.formKometarz{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 90%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.containerDodawanieAnkiet{
    margin-left: 25%;
    margin-right: 25%;
    border: #3d3939 1px solid;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.75);
}
.przyciskUsun{
    float: right;

}
.przyciskUsun {
    float: right;
	background-color:#495057;
	border:1px solid #566963;
	display:inline-block;
    border-radius: 12px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:5px 11px;
	text-decoration:none;
}
.przyciskUsun:hover {
	background:linear-gradient(to bottom, #c7d1d1 5%, #768d87 100%);
	background-color:#b0b6b6;
}
.przyciskUsun:active {
	position:relative;
	top:1px;
}
.pytanieConteinerVisable{
    visibility: visible;

}
.pytanieConteinerHidden{
    visibility: hidden;
}
.zatwierdzenieAnkietyButton {
    color: #fff;
    background-color: #1266f1;
	font-size:15px;
	padding:25px 30px;
	text-decoration:none;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 1.5;
    border-radius: 10px;
    
}
.zatwierdzenieAnkietyButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #1285c7 100%);
	background-color:#0688fa;
}
.zatwierdzenieAnkietyButton:active {
	position:relative;
	top:1px;
}
.OdpowiedziKontaener{
    text-align: left;
    background-color: #ececec;
}
        